@page
@model _2.Eksamensprojekt.Pages.StuderendePages.StuderendeMineBookingerModel
@{
}

@foreach (var item in Model.Booking)
{
    <div class="row">
        <div class="lokale-info-centreret">
            <div class="card mb-2">
                <div class="card-header p-2">
                    <h2 class="card-title">@item.Lokale.LokaleNummer @item.Lokale.LokaleNavn </h2>
                    <h2>
                        @if (item.Lokale.LokaleSmartBoard == true)
                        {
                            @("(M. SmartBoard)")
                        }
                        @if (item.Lokale.LokaleSmartBoard == false)
                        {
                            @("(U. SmartBoard)")
                        }
                    </h2>
                </div>
                <div class="card-body">
                    <p class="card-text"><b>Lokale størrelse:</b> @item.Lokale.LokaleSize</p>
                    <p class="card-text"><b>Dato:</b> @item.Dag.ToString("d")</p>
                    <p class="card-text"><b>Tidspunkt:</b> @item.TidStart.ToString(@"hh\:mm") - @item.TidSlut.ToString(@"hh\:mm")</p>

                    <div class="centrer-item">
                        <form method="post">
                            <button class="btn btn-primary black-button" type="submit" asp-page="/StuderendePages/StuderendeAflysBooking" asp-route-id="@item.ResevertionId">AFLYS</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    var today = new Date().toISOString().slice(0, 16);

    document.getElementsByName("Booking.Dag")[0].min = today;
</script>
