@page "{id:int}"
@using SuperBookerData
@model _2.Eksamensprojekt.Pages.StuderendePages.StuderendeBookingModel
@{
    ViewData["Title"] = "Booking";
}


<a class="tilbageLink" asp-page="/Shared/LedigeLokaler">< TILBAGE</a>

<div class="centrer-item">
    <p class="alert-danger">@Model.ErrorMsg</p>
</div>
<div class="centrer-item">
    <h1>Booking af:</h1>
</div>
<div class="row">
    <div class="lokale-info-centreret">
        <div class="card mb-2">
            <div class="card-header p-2">
                <h2 class="card-title">@Model.Lokale.LokaleNummer @Model.Lokale.LokaleNavn</h2>
                <h2>@(Model.Lokale.LokaleSmartBoard ? "M.Smartboard":"U.Smartboard")</h2>
            </div>
            <div class="card-body">
                <p class="card-text"><b>Størrelse:</b> @Enum.GetName(typeof(LokaleSize), (Model.Lokale.LokaleSize))</p>
            </div>
        </div>

        <aside>
            <p class="alert-info">Du må booke mellem kl: @Model.TidligstLovligeTid.ToString(@"hh\:mm") til @Model.SenestLovligeTid.ToString(@"hh\:mm")</p>
        </aside>

        <form method="post">

            @foreach (var claim in User.Claims)
            {
                if (claim.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name")
                {
                    <input type="text" value="@claim.Value" asp-for="Booking.BrugerEmail" hidden="hidden" />
                }
            }
            <fieldset>
                <label><b>Dato:</b></label>
                <br />
                <input type="date" asp-for="@Model.Booking.Dag" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
            </fieldset>
            <fieldset>
                <label><b>Fra:</b></label>
                <br />
                <input type="time" asp-for="Booking.TidStart" value="@Model.TidligstLovligeTid.ToString(@"hh\:mm")"/>
            </fieldset>
            <fieldset>
            <label><b>Til:</b></label>
            @if (Model.Lokale.LokaleSize != LokaleSize.Mødelokale)
            {
                <br />
                <input type="time" asp-for="Booking.TidSlut"/>
            }
            else
            {
                <p>Bliver automatisk sat til 2 timer</p>
            }
            </fieldset>
            <fieldset>
                <label><b>Smartboard:</b></label>
                <br />
                <span>JA: </span><input type="radio" asp-for="Booking.BooketSmartBoard" value="true"/>
                <br />
                <span>NEJ: </span> <input type="radio" asp-for="Booking.BooketSmartBoard" value="false"/>
            </fieldset>

            <div class="centrer-item">
                <input type="submit" value="Book" class="btn-primary book-btn" asp-page-handler="book" asp-route-id="@Model.Lokale.LokaleID" />
            </div>
        </form>
    </div>
</div>

<script>
    var today = new Date().toISOString().slice(0, 10);

    document.getElementsByName("Booking.Dag")[0].min = today;
</script>