@page
@using SuperBookerData
@model _2.Eksamensprojekt.Pages.Shared.BookedeLokalerModel
@{
    ViewData["Title"] = "Alle Bookinger";
}


@* Søgebars funktionen er blevet inspireret af https://www.geeksforgeeks.org/search-bar-using-html-css-and-javascript/ *@

<!-- DYNAMISK SØGEFELT (Forklaring ligger i scriptet) -->
<input id="searchbar" onkeyup="soeg_lokale()" type="text"
       name="search" placeholder="Søg efter lokaler...">


<!-- SØGEKRITERIER-->
<!-- Dropdown-menu kode er inspireret af
https://codepen.io/dautoblog/pen/KMGogz -->
<div class="soege-kriteria dropdown-kategorier">
    <label for="drop" class="toggle">&#8801; Søgekriterier</label>
    <input type="checkbox" id="drop" />
    <ul class="menu">
        <form method="post">
            <fieldset>

                @* VÆLG ETAGE *@
        <li>
            <div class="ll-border-custom">
                <div class="dropdown-kategorier">
                    <label for="drop-1" class="toggle">

                        <select id="SKEtage_valg" name="SKEtage_valg" asp-for="@Model.SKEtage_valg" class="form-control">
                            @foreach (var etage in Model.SKEtage)
                            {
                                <option class="dropdown-button" value="@etage">@etage</option>
                            }
                        </select>
                    </label>
                </div>
            </div>
        </li>

        <li>
            <!-- VÆLG STØRRELSE -->
            <div class="ll-border-custom">
                <div class="dropdown-kategorier">
                    <label for="drop-2" class="toggle">

                        <select id="SKStoerrelse_valg" name="SKStoerrelse_valg" asp-for="@Model.SKStoerrelse_valg" class="form-control">
                            @foreach (var etage in Model.SKStoerrelse)
                            {
                                <option class="dropdown-button" value="@etage">@etage</option>
                            }
                        </select>
                    </label>
                </div>
            </div>
        </li>
        <input type="submit" value="Søg" class="btn btn-primary black-button" />

        </fieldset>
        </form>
    </ul>
</div>


@foreach (var lokale in Model.LokaleData)
{
    <div class="row">
        <div class="lokale-info-centreret">
            <div class="card mb-2">
                <div class="card-header p-2">
                    <h2 class="card-title">@lokale.Lokale.LokaleNummer @lokale.Lokale.LokaleNavn </h2>
                    <h2>
                        @if (lokale.Lokale.LokaleSmartBoard == true)
                        {
                            @("(M. SmartBoard)")
                        }
                        @if (lokale.Lokale.LokaleSmartBoard == false)
                        {
                            @("(U. SmartBoard)")
                        }
                    </h2>
                </div>
                <div class="card-body">
                    <p class="card-text"><b>Størrelse:</b> @lokale.Lokale.LokaleSize</p>
                    <p class="card-text"><b>Dag:</b> @lokale.Dag.ToString("d")</p>
                    <p class="card-text"><b>Tidspunkt:</b> @lokale.TidStart.ToString(@"hh\:mm") - @lokale.TidSlut.ToString(@"hh\:mm")</p>
                    <p class="card-text"><b>Booket af:</b> @lokale.Bruger.BrugerNavn</p>
                    <p class="card-text"><b>Booket for:</b> @Enum.GetName(typeof(brugerRolle), (lokale.BookesFor))</p>
                    <div class="centrer-item">
                        <form method="post">
                            @foreach (var test in User.Claims)
                            {
                                if (test.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name")
                                {

                                    if (lokale.Bruger.BrugerEmail == test.Value)
                                    {
                                        if (lokale.Bruger.brugerRolle == brugerRolle.Underviser)
                                        {
                                            <button class="btn btn-primary black-button custom-btn" type="submit" asp-page="/UnderviserPages/UnderviserAflysBooking" asp-route-id="@lokale.ResevertionId">AFLYS</button>
                                        }
                                    }
                                }
                                if (test.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role")
                                {

                                    if (lokale.Bruger.brugerRolle.ToString() == "Student" || lokale.Bruger.brugerRolle.ToString() == "0")
                                    {
                                        if (test.Value != "Administration")
                                        {
                                            <button class="btn btn-primary black-button custom-btn" type="submit" asp-page="/UnderviserPages/UnderviserAflysBooking" asp-route-id="@lokale.ResevertionId">AFLYS</button>
                                        }
                                    }
                                    if (test.Value == "Administration")  //TODO ikke vis ovenståendes
                                    {
                                        <button class="btn btn-primary black-button custom-btn" type="submit" asp-page="/AdministrationPages/AdministrationAflysBooking" asp-route-id="@lokale.ResevertionId">AFLYS</button>
                                    }
                                }
                            }

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<!-- javascript -->
@*  function soeg_lokale() Virker ved at det man indtaster i det dynamiske søgefelt øverst på siden, bliver sendt til JavaScript funktionen kaldet soeg_lokale().
    Funktionen konverterer derefter det som er skrevet, til alt sammen at være lower case.
    Herefter tager den den indtastede værdi, og kigger inde i de HTML elementer, som har klassen "card".
    Hvis HTML elementerne ikke har den værdi, bliver de ikke vist, ellers bliver de vist.*@
@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#myModal").Modal({ backdrop: "static" });
            $("#myModal").Modal('show');
        });
        function soeg_lokale() {
            let input = document.getElementById('searchbar').value
            input = input.toLowerCase();
            let x = document.getElementsByClassName('card');

            for (i = 0; i < x.length; i++) {
                if (!x[i].innerHTML.toLowerCase().includes(input)) {
                    x[i].style.display = "none";
                }
                else {
                    x[i].style.display = "flex";
                }
            }
        }
    </script>
}
