@page
@using SuperBookerData
@model _2.Eksamensprojekt.Pages.Shared.BookedeLokalerModel
@{
    ViewData["Title"] = "Alle Bookinger";
}

@foreach (var lokale in Model.BookingData)
{
    <div class="card mb-2" style="width: 20rem;">
        <div class="card-header p-2">
            <h2 class="card-title">@lokale.Lokale.LokaleNummer @lokale.Lokale.LokaleNavn</h2>
            <h2>
                @if (lokale.Lokale.LokaleSmartBoard == true)
                {
                    @("(M. SmartBoard)")
                }
                @if (lokale.Lokale.LokaleSmartBoard == false)
                {
                    @("(U. SmartBoard)")
                }
            </h2>
            <div class="card-body">
            <p class="card-text"><b>Størrelse:</b> @lokale.Lokale.LokaleSize</p>
            <p class="card-text"><b>Antal pladser tilbage:</b> @lokale.Lokale.MuligeBookinger</p>
            <p class="card-text"><b>Date:</b> @lokale.Dag.ToString("d")</p>
            <p class="card-text"><b>Tidspunkt: </b>@lokale.TidSlut.ToString(@"hh\:mm")</p>
            <p class="card-text"><b>Varighed: </b>@lokale.TidStart.ToString(@"hh\:mm")</p>
            <p class="card-text"><b>Booket af:</b> @lokale.Bruger.BrugerNavn</p>
            <p class="card-text"><b>Booket for: </b>@Enum.GetName(typeof(brugerRolle), (lokale.BookesFor))</p>
            <form method="post">
                @foreach (var test in User.Claims)
                {
                    if (test.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name")
                    {

                        if (lokale.Bruger.BrugerEmail == test.Value)
                        {
                            if (lokale.Bruger.brugerRolle == brugerRolle.Underviser)
                            {
                                <button type="submit" asp-page="/UnderviserPages/UnderviserAflysBooking" asp-route-id="@lokale.ResevertionId"><i class="fa fa-trash"></i></button>
                            }
                        }
                    }
                    if (test.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role")
                    {

                        if (lokale.Bruger.brugerRolle.ToString() == "Student" || lokale.Bruger.brugerRolle.ToString() == "0")
                        {
                            if (test.Value != "Administration")
                            {
                                <button type="submit" asp-page="/UnderviserPages/UnderviserAflysBooking" asp-route-id="@lokale.ResevertionId"><i class="fa fa-trash"></i></button>
                            }
                        }
                        if (test.Value == "Administration")  //TODO ikke vis ovenståendes
                        {
                            <button type="submit" asp-page="/AdministrationPages/AdministrationAflysBooking" asp-route-id="@lokale.ResevertionId"><i class="fa fa-trash"></i></button>
                        }
                    }
                }

            </form>
            </div>
        </div>
        </div>
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#myModal").Modal({ backdrop: "static" });
            $("#myModal").Modal('show');
        });
    </script>
}
