@page
@model _2.Eksamensprojekt.Pages.Shared.LedigeLokalerModel
@{
}


<div class="row">
    <div class="col-md-8">
        @foreach (var LkD in @Model.LokaleData)
        {

            <div class="card mb-2" style="width: 30rem;">
                <div class="card-header p-2">
                    <h5 class="card-title">@LkD.LokaleNummer. @LkD.LokaleNavn</h5>
                    <h5>
                        @if (LkD.LokaleSmartBoard == true)
                        {
                            @("(M. SmartBoard)")
                        }
                        @if (LkD.LokaleSmartBoard == false)
                        {
                            @("(U. SmartBoard)")
                        }
                    </h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Størrelse: @LkD.LokaleSize</p>
                    @foreach (var test in User.Claims)
                    {
                        if(test.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role") { 

                        <form method="post">
                            @if (test.Value == "Underviser")
                            {
                                <input type="submit" value="Lærer Book" asp-page="/UnderviserPages/UnderviserBooking" class="btn btn-primary"/>
                            }
                            @if (test.Value == "Administration")
                            {
                                <input type="submit" value="Admin Book" asp-page="/Administra" class="btn btn-primary"/>
                            }
                            @if (test.Value == "Student")
                            {
                                <input type="submit" value="Stud Book" asp-page="/StuderendePages/StuderendeBooking" class="btn btn-primary"/>
                            }
                        </form>
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>

