@page
@using SuperBookerData
@model _2.Eksamensprojekt.Pages.UnderviserPages.UnderviserBookingModel
@{
}

<a class="tilbageLink" asp-page="/Shared/LedigeLokaler">< TILBAGE</a>
<div class="centered">
    <h1>Booking af</h1>
    <div class="lokaleInfoWrapper" style="width: unset">
        <h3>@Model.Lokale.LokaleNummer @Model.Lokale.LokaleNavn</h3>
        <p><b>Størrelse:</b> @Enum.GetName(typeof(LokaleSize), (Model.Lokale.LokaleSize - 1))</p>
    </div>


    <form method="post">

        @foreach (var claim in User.Claims)
        {
            if (claim.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name")
            {
                <input type="text" value="@claim.Value" asp-for="Booking.BrugerEmail" hidden="hidden" />
            }
        }



        <fieldset>
            <label>Tidspunkt og dato Fra:</label>
            <br />
            <input type="datetime-local" asp-for="@Model.Booking.Dag" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")"/>
        </fieldset>
        <fieldset>
            <label>Varighed:</label>
            <br />
            <input type="time" asp-for="Booking.TidStart" />
        </fieldset>
        <fieldset>
            <label>Bookes for</label>
            <br />
            <select asp-for="@Model.Booking.BookesFor">
                @foreach (var rolle in Enum.GetValues(typeof(brugerRolle)))
                {
                    if (!(brugerRolle.Administration.ToString() == rolle.ToString()))
                    {
                        <option value="@rolle">@rolle</option>
                    }
                }
            </select>
        </fieldset>

        <input type="submit" value="Book" class="btn-primary" asp-page-handler="book" asp-route-id="@Model.Lokale.LokaleID" />
    </form>
</div>


<script>
    var today = new Date().toISOString().slice(0, 16);

    document.getElementsByName("Booking.Dag")[0].min = today;
</script>