@page
@using SuperBookerData
@model _2.Eksamensprojekt.Pages.UnderviserPages.UnderviserMineBookingerModel
@{
}
@foreach (var item in Model.Booking)
{
    <div class="row">
        @*<div class="col-md-8">*@
        <div class="lokale-info-centreret">
            <div class="card mb-2">
                <div class="card-header p-2">
                    <h2 class="card-title">@item.Lokale.LokaleNummer @item.Lokale.LokaleNavn </h2>
                    <h2>
                        @if (item.Lokale.LokaleSmartBoard == true)
                        {
                            @("(M. SmartBoard)")
                        }
                        @if (item.Lokale.LokaleSmartBoard == false)
                        {
                            @("(U. SmartBoard)")
                        }
                    </h2>
                </div>
                <div class="card-body">
                    <p class="card-text">Lokale størrelse: @item.Lokale.LokaleSize</p>
                    <p class="card-text">Dato: @item.Dag</p>
                    <p class="card-text">Booket af: @item.BrugerNavn</p>
                    <p class="card-text">Booket for: @Enum.GetName(typeof(brugerRolle), (item.BookesFor))</p>
                    <div class="centrer-item">
                        <form method="post">
                            <button class="btn btn-primary black-button" type="submit" asp-page="/UnderviserPages/UnderviserAflysBooking" asp-route-id="@item.ResevertionId">AFLYS</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    var today = new Date().toISOString().slice(0, 16);

    document.getElementsByName("Booking.Dag")[0].min = today;
</script>


