@page "{id:int}"
@using SuperBookerData
@model _2.Eksamensprojekt.Pages.AdministrationPages.AdministrationAflysBookingModel
@{
}

<a class="tilbageLink" asp-page="AdministrationMineBookinger"> < TILBAGE</a>

<h1 class="text-center">Ønsker du at slette denne booking?</h1>

<div class="row">
    <div class="lokale-info-centreret">
        <div class="card mb-2">
            <div class="card-header">
                <h2 class="card-title">@Model.Booking.Lokale.LokaleNummer @Model.Booking.Lokale.LokaleNavn</h2>
                <h2>@(Model.Booking.Lokale.LokaleSmartBoard ? "M.Smartboard":"U.Smartboard")</h2>
            </div>
            <div class="card-body">
                <p class="card-text"><b>Størrelse:</b> @Enum.GetName(typeof(LokaleSize), (Model.Booking.Lokale.LokaleSize)) </p>
                <p class="card-text"><b>Antal pladser tilbage:</b> @Model.Booking.Lokale.MuligeBookinger</p>
                <p class="card-text"><b>Dato:</b> @Model.Booking.Dag</p>
                <p class="card-text"><b>Tidspunkt:</b> @Model.Booking.TidStart - @Model.Booking.TidSlut</p>
                <p class="card-text"><b>Booket af:</b> @Model.Booking.Bruger.BrugerNavn</p>
            </div>
        </div>
    </div>
</div>

<form method="post" class="AflysbookingForm">
    <input type="submit" value="Ja" class="submitAprove custom-btn" asp-route-id="@Model.Booking.ResevertionId" asp-page="AdministrationAflysBekræftigelse" />
    <input type="submit" value="Nej" class="submitDenied custom-btn" asp-page="AdministrationMineBookinger" />
</form>