@page
@model _2.Eksamensprojekt.Pages.AdministrationPages.AdministrationBegrænsningerModel
@{
    ViewData["Title"] = "Admin Begrænsninger";
}

<p class="alert-info text-center">@Model.Msg</p>

<div class="centrer-item">
    <h1>Bruger rettigheder:</h1>
</div>
<div class="row">
    <div class="lokale-info-centreret">
        <div class="card mb-2">
            <div class="card-body">
            <form method="post">
                <fieldset>
                    <label><b>Antal bookinger de studerende må have ad gangen:</b></label> 
                </br>
                    <input type="number" asp-for="@Model.NewLimit" value="@Model.NewLimit" />
                </fieldset>
                <fieldset>
                    <label><b>Tidligeste tid et lokale må blive booket fra</b></label>
                    <br />
                    <input type="time" asp-for="@Model.TidligstTid" value="@Model.TidligstTid" />
                </fieldset>
                <fieldset>
                    <label><b>Senest tid et lokale må blive booket til:</b></label>
                </br>
                    <input type="time" asp-for="@Model.SenestTid" value="@Model.SenestTid" />
                </fieldset>
                <div class="centrer-item">
                    <input type="submit" value="Opdater" class="black-button custom-btn btn btn-primary" />
                </div>
            </form>
            </div>
        </div>
    </div>
</div>